{:real-world {:front-end ["https://github.com/gothinkster/react-redux-realworld-example-app"
                          "https://github.com/gothinkster/angular-realworld-example-app"
                          "https://github.com/gothinkster/vue-realworld-example-app"
                          "https://github.com/rtfeldman/elm-spa-example"
                          "https://github.com/gothinkster/react-mobx-realworld-example-app"
                          "https://github.com/sveltejs/realworld"
                          "https://github.com/thomashoneyman/purescript-halogen-realworld"
                          "https://github.com/jacekschae/conduit"
                          "https://github.com/stefanoslig/angular-ngrx-nx-realworld-example-app"
                          "https://github.com/gothinkster/angularjs-realworld-example-app"
                          "https://github.com/jetli/rust-yew-realworld-example-app"
                          "https://github.com/reck1ess/next-realworld-example-app"
                          "https://github.com/gothinkster/aurelia-realworld-example-app"
                          "https://github.com/gothinkster/ember-realworld"
                          "https://github.com/gothinkster/web-components-realworld-example-app"
                          "https://github.com/gothinkster/apprun-realworld-example-app"
                          "https://github.com/seed-rs/seed-rs-realworld"
                          "https://github.com/jonasbuntinx/purescript-react-realworld"
                          "https://github.com/gothinkster/clojurescript-keechma-realworld-example-app"
                          "https://github.com/hcavalieri/stencil-realworld-app"
                          "https://github.com/mutoe/vue3-realworld-example-app"
                          "https://github.com/kwasniew/hyperapp-realworld-example-app"
                          "https://github.com/ryansolid/solid-realworld"
                          "https://github.com/gothinkster/dojo-realworld-example-app"
                          "https://github.com/devJang/nuxt-realworld"
                          "https://github.com/ecomfe/san-realworld-app"
                          "https://github.com/iq3addLi/riot_v4_realworld_example_app"
                          "https://github.com/cartonalexandre/imba-realworld-example-app"
                          "https://github.com/neomjs/neomjs-realworld-example-app"
                          "https://github.com/gothinkster/crizmas-mvc-realworld-example-app"
                          "https://github.com/JoeyMckenzie/BlazorConduit"
                          "https://github.com/rlander/conduit"
                          "https://github.com/mutoe/preact-realworld-example-app"
                          "https://github.com/apapacy/realworld-riotjs-effector-universal-hot"
                          "https://github.com/iq3addLi/riot_realworld_example_app"
                          "https://github.com/markjackmilian/bridge.spaf-realworld-app"]
              :back-end ["https://github.com/gothinkster/node-express-realworld-example-app"
                         "https://github.com/gothinkster/golang-gin-realworld-example-app"
                         "https://github.com/lujakob/nestjs-realworld-example-app"
                         "https://github.com/gothinkster/aspnetcore-realworld-example-app"
                         "https://github.com/gothinkster/django-realworld-example-app"
                         "https://github.com/gothinkster/laravel-realworld-example-app"
                         "https://github.com/gothinkster/elixir-phoenix-realworld-example-app"
                         "https://github.com/gothinkster/spring-boot-realworld-example-app"
                         "https://github.com/gothinkster/flask-realworld-example-app"
                         "https://github.com/TatriX/realworld-rust-rocket"
                         "https://github.com/gothinkster/rails-realworld-example-app"
                         "https://github.com/gothinkster/slim-php-realworld-example-app"
                         "https://github.com/gothinkster/kotlin-spring-realworld-example-app"
                         "https://github.com/xesina/golang-echo-realworld-example-app"
                         "https://github.com/err0r500/go-realworld-clean"
                         "https://github.com/gothinkster/koa-knex-realworld-example"
                         "https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app"
                         "https://github.com/anishkny/realworld-dynamodb-lambda"
                         "https://github.com/tzemanovic/haskell-yesod-realworld-example-app"
                         "https://github.com/gothinkster/scala-play-realworld-example-app"
                         "https://github.com/gothinkster/gcp-datastore-cloud-functions-realworld-example-app"
                         "https://github.com/dnikolovv/dev-adventures-realworld"
                         "https://github.com/gothinkster/cakephp-realworld-example-app"
                         "https://github.com/Rudge/kotlin-javalin-realworld-example-app"
                         "https://github.com/gothinkster/moleculer-node-realworld-example-app"
                         "https://github.com/alisabzevari/kotlin-http4k-realworld-example-app"
                         "https://github.com/dragneelfps/realworld-kotlin-ktor"
                         "https://github.com/devinivy/hapipal-realworld-example-app"
                         "https://github.com/tanem/express-bookshelf-realworld-example-app"
                         "https://github.com/vladfaust/crystalworld"
                         "https://github.com/chrisxue815/realworld-aws-lambda-dynamodb-go"
                         "https://github.com/randyscotsmithey/feathers-realworld-example-app"
                         "https://github.com/schoolhouse-io/colmena-realworld-example-app"
                         "https://github.com/1984weed/akka-http-realworld-example"
                         "https://github.com/niteoweb/pyramid-realworld-example-app"
                         "https://github.com/gothinkster/QEWD-realworld-example-app"
                         "https://github.com/diegocamara/vertx-springboot-realworld-example-app"
                         "https://github.com/vaibhavmule/masonite-realworld-example-app"
                         "https://github.com/neo4j-examples/nestjs-neo4j-realworld-example"
                         "https://github.com/spincast/spincast-realworld"
                         "https://github.com/alex-k1/scala-http4s-realworld-example-app"
                         "https://github.com/blrB/hanami-realworld-example-app"
                         "https://github.com/daimor/realworld-intersystems-iris"
                         "https://github.com/eflem00/koa-boilerplate"
                         "https://github.com/alexey-lapin/realworld-backend-micronaut"
                         "https://github.com/neo4j-examples/nodejs-neo4j-realworld-example"]}}